page-transfer-send {
    .col_end {
        text-align: end;
    }
    .half_item {
        width: 50%;
    }
    .left_item {
        float: left;
    }
    .right_item {
        float: right;
    }

    #new_address, #change_mode {
        cursor: pointer;
    }

    .center_content {
        text-align: center;
    }
}
