page-addresses-my-address {
    #new_address {
        padding: 3px !important;
        height: 3rem !important;
    }
    #tbl_address {
        width: 100%;
        table-layout: fixed;
    }

    #tbl_address thead {
        background-color: #8b8b8b;
    }

    // #tbl_address thead tr td {
    //     text-align: center;
    //     width: 25%;
    // }

    #tbl_address thead tr td:nth-child(1) {
        text-align: center;
        width: 25%;
    }

    #tbl_address thead tr td:nth-child(2), #tbl_address thead tr td:nth-child(3) {
        text-align: center;
        width: 15%;
    }

    #tbl_address thead tr td:nth-child(4) {
        text-align: center;
        width: 45%;
    }

    #btn_active {
        margin: 0 !important;
    }

    #btn_archived {
        margin: 0 !important;
    }

    .active_action {
        max-width: 100% !important;
    }
}
