<!--
  Generated template for the AddressesMyAddressPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <h4>My Addresses</h4>
      </ion-col>
      <ion-col style="text-align: right;">
        <button ion-button id="new_address" (click)="addNewAddress()">New Address</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <button ion-button id="btn_active" [outline]="btn_archived" (click)="enableActive()">Active</button>
      <button ion-button id="btn_archived" [outline]="btn_active" (click)="enableArchive()">Archived</button>
      <table id="tbl_address">
        <thead>
          <tr>
            <td>
              Address
            </td>
            <td>
              Balance
            </td>
            <td>
              Withdrawal Limit
            </td>
            <td>
              Actions
            </td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of active_address; let i=index">

            <td id="address_{{i}}">{{item.address}}</td>
            <td>{{item.balance}}PTC</td>
            <td>{{item.withdrawal_limit}}PTC</td>
            <td *ngIf="btn_active">
              <ion-list>
                <ion-item>
                  <ion-select [(ngModel)]="address_action" style="max-width: 100%;
    font-size: 8pt;">
                    <ion-option value="archive_address">Archive Address</ion-option>
                    <ion-option value="change_limit">Change Limit</ion-option>
                    <ion-option value="show_qr">Show QR Code</ion-option>
                    <ion-option value="sign_message">Sign Message</ion-option>
                  </ion-select>
                </ion-item>
              </ion-list>
            </td>
            <td *ngIf="btn_archived">
              <ion-list>
                <ion-item>
                  <button ion-button>Reactivate</button>
                </ion-item>
              </ion-list>
            </td>
          </tr>
        </tbody>
      </table>
    </ion-row>
  </ion-grid>
</ion-content>