page-createaccount {
    // #create_title {
    //     text-align: center;
    // }

    #link_goto {
        cursor: pointer;
    }

    #register_btn_container {
        text-align: center;
    }

    .grey_content {
        color: grey;
    }
}
